<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../lib/css/bootstrap.min.css">
<script src="../../lib/js/bootstrap.bundle.min.js"></script>
<script src="../../lib/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" href="/WEBTN/lib/css/bootstrap.min.css">
<script src="/WEBTN/lib/js/bootstrap.bundle.min.js"></script>
<script src="/WEBTN/lib/js/bootstrap.bundle.js"></script>
<link rel="stylesheet" href="../css/decoration.css">
<link rel="stylesheet" href="/WEBTN/view/css/decoration.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <header class="row">
            <div class="name d-flex justify-content-center align-items-center">
                <h1><strong style="font-size: 100px;">ThanhXuan - QUIZZ</strong></h1>
            </div>
        </header>
        <nav class="row boDeQuizz">
            <ul style="list-style: none;" class="menu">
                <li><a href="#">History</a></li>
                <li><a href="#">Mathematic</a></li>
                <li><a href="#">Literature</a></li>
                <li><a href="#">Vocabulary</a></li>
                <li><a href="#">Aggregate</a></li>
            </ul>
        </nav>
        <section class="row d-flex justify-content-center align-items-center" style="margin-top: 20px;">
            <div class="row question d-flex justify-content-center align-items-center mt-2" id="launch">
            </div>
        </section>
    </div>

</body>
<script src="../js/renderData.js"></script>
<script src="/WEBTN/view/js/renderData.js"></script>

</html>